
<mat-drawer-container class="dashboardContent">
    <mat-drawer mode="side" opened class="sideCnt">
        <div class="container">
            <h2 style="color: yellow;padding-top: 10px;">Welcome {{userDetails.username}}</h2>
            <ul>
                <li><a class="nav-link" [routerLink]="[{outlets:{adminprofile:['adminprofile']}}]"><mat-icon>account_circle</mat-icon><span>Profile</span></a></li>
                <li><a class="nav-link" [routerLink]="[{outlets:{adminprofile:['categories']}}]"><mat-icon>list</mat-icon><span>Categories</span></a></li>
                <li><a class="nav-link" [routerLink]="[{outlets:{adminprofile:['addCategories']}}]"><mat-icon>add_circle_outline</mat-icon><span>Add Categories</span></a></li>
                <li><a class="nav-link" [routerLink]="[{outlets:{adminprofile:['quizzes']}}]"><mat-icon>quizzes</mat-icon><span>Quizzes</span></a></li>
                <li><a class="nav-link" [routerLink]="[{outlets:{adminprofile:['addQuizzes']}}]"><mat-icon>add</mat-icon><span>Add Quizzes</span></a></li>
                <li><a class="nav-link" [routerLink]="['/logout']"><mat-icon>logout</mat-icon><span>Logout</span></a></li>
            </ul>
        </div> 
    </mat-drawer>
    <mat-drawer-content style="color: #fff">
        <router-outlet name="adminprofile"></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>