<!-- <mat-toolbar class="navbar navbar-dark" color="primary">
    <div class="container">
        <div class="navbar-brand">
            <img style="height: 25px;" src="../../../assets/Images/flipcartLogo.png" alt="">
        </div>
        <input type="search" placeholder="Search" style="border-radius: 10px;padding-left: 10px;">
    </div>
</mat-toolbar>

<mat-drawer-container class="dashboardContent">
    <mat-drawer mode="side" opened class="sideCnt">
        <div class="container">
            <h2 style="padding-top: 10px;">Welcome Sanket</h2>
            <ul>
                <li><a class="nav-link"><mat-icon>account_circle</mat-icon><span>Profile</span></a></li>
                <li><a class="nav-link" [routerLink]="['/dashboard']"><mat-icon>list</mat-icon><span>Categories</span></a></li>
                <li><a class="nav-link" [routerLink]="['/dashboard']"><mat-icon>Customer Rating</mat-icon><span>Customer Rating</span></a></li>
                <li><a class="nav-link" [routerLink]="['/dashboard']"><mat-icon>Offer</mat-icon><span>Offer</span></a></li>
                <li><a class="nav-link" [routerLink]="['/dashboard']"><mat-icon>Type</mat-icon><span>Type</span></a></li>
                <li><a class="nav-link" [routerLink]="['/logout']"><mat-icon>logout</mat-icon><span>Logout</span></a></li>
            </ul>
        </div> 
    </mat-drawer>
    <mat-drawer-content style="color: #fff">
        <router-outlet></router-outlet>
        <div class="wrapper container">
            <div class="row" id="placeHere">
                
                
            </div>
            
        </div>
    </mat-drawer-content>
</mat-drawer-container> -->

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
                <img class="mm" src="{{item.image}}" alt="">
                <h5 class="beee">{{item.title}}</h5>
                <p class="beee">{{item.description}}</p>
                <p><strong>Price:</strong>{{item.price}}</p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
        </ng-container>
        
        
    </div>
</div>