
a.customBrand{
    display: grid;
    line-height: 15px;
    text-align: center;
}

a.customBrand span{
    font-size: xx-small;
}

.cusNav p{
    display: flex;
}

@media screen and (max-width:660px) {
    .cusNav p{
        display: flex;
        font-size: 15px;
    }
}
