<mat-card style="margin: 20px;">
    <mat-card-title>All Categories</mat-card-title>
    
    <mat-divider inset></mat-divider>
    <br>
    <br>
    <div *ngFor="let quiz of quizDetail">
      <mat-card-title>{{quiz.title}}</mat-card-title>
      <mat-card-subtitle>{{quiz.description}}</mat-card-subtitle>
      <span></span>
    </div>

    <mat-divider inset></mat-divider>

    <mat-card-actions style="text-align: center;">
      <button mat-raised-button color="primary">Add New Category</button>
    </mat-card-actions>
  </mat-card>