.custom mat-form-field{
    width: 100%;
}

.custom.modal{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100vh;
}

.custom.modal .modal-dialog{
    width: 40%;
}

.markQuiz span{
    color: #3f51b5;
    font-size: large;
}