.custom.container{
    text-align: -webkit-center;
    margin-top: 50px;
    margin-bottom: 55px;
}

.custom form mat-form-field{
    width: 80% !important;
}

.custom form p a{
    color: red;
    margin: 5px;
}

@media screen and (min-width:500px) and (max-width:1024px) {

    .custom form .col-md-4{
        width: 80% !important;
    }
}