<app-navbar></app-navbar>

<!-- <div class="routeContent" style="display: block"> -->
    <!-- <mat-drawer-container class="example-container" autosize style="position: absolute;height: 100%;">
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <p>Auto-resizing sidenav</p>
          <p>Lorem, ipsum dolor sit amet consectetur.</p>
          <button mat-raised-button>
            Toggle extra text
          </button>
        </mat-drawer>      
      </mat-drawer-container>
      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
      </div> -->
      <router-outlet></router-outlet>
    <app-footer></app-footer>
<!-- </div> -->