
<mat-drawer-container class="dashboardContent">
    <mat-drawer mode="side" opened class="sideCnt">
        <div class="container">
            <h2 style="color: #3f51b5;padding-top:10px;">Welcome {{userDetails.username}}</h2>
            <ul>
                <li><a class="nav-link" [routerLink]="['./']"><mat-icon>account_circle</mat-icon><span>Profile</span></a></li>
                <li><a class="nav-link" [routerLink]="['allQuizzes']"><mat-icon>list</mat-icon><span>ALL Quizzes</span></a></li>
                <li><a class="nav-link" ><mat-icon>quizzes</mat-icon><span>HTML</span></a></li>
                <li><a class="nav-link" [routerLink]="['/logout']"><mat-icon>logout</mat-icon><span>Logout</span></a></li>
            </ul> 
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <!-- <table style="width: 700px; margin: 30px auto;text-align: center;" class="table table-light">
                <thead class="thead-light">
                    <tr>
                        <th>Patient Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>DOB</th>
                        <th>Gender</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{patientInformation.patientId}}</td>
                        <td>{{patientInformation.firstName}}</td>
                        <td>{{patientInformation.lastName}}</td>
                        <td>{{patientInformation.dob}}</td>
                        <td>{{patientInformation.gender}}</td>
                        <td>{{patientInformation.note}}</td>
                    </tr>
                </tbody>
        </table> -->
        <!-- <h2>Welcome to C.I. Solutions OEMS </h2> -->
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>