
.dashboardContent{
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
}

.sideCnt{
    width: 20%;
    background-color: #f7f7fa;
    text-align: center;
}

.sideCnt ul{
    padding-left: 0rem !important;
}

.sideCnt ul li{
    text-decoration: none;
    display: flex;
    color: #9e9e9e;
    text-transform: uppercase;
    /* border: 1px solid #fff; */
    padding: 10px 15%;
    cursor: pointer;
    font-weight: 500;
    border-radius: 15px;
}

.sideCnt ul li a{
    display: flex;
}

.sideCnt ul li:hover{
    color: #3f51b5;
    background: #fff;
}

.sideCnt ul li span{
    padding-left: 20px;
    line-height: 2;
}