
<mat-drawer-container class="dashboardContent">
    <mat-drawer mode="side" opened class="sideCnt">
        <div class="container">
            <h2>Welcome Sanket</h2>
            <ul>
                <li><a class="nav-link" [routerLink]="['/dashboard']">Home</a></li>
                <li><a class="nav-link" [routerLink]="['/dashboard']">Home</a></li>
                <li><a class="nav-link" [routerLink]="['/dashboard']">Home</a></li>
                <li><a class="nav-link" [routerLink]="['/dashboard']">Home</a></li>
            </ul>
        </div>
    </mat-drawer>
    <mat-drawer-content></mat-drawer-content>
</mat-drawer-container>